.body{
    background-color: white;
    margin: 0;
}
.header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    width: 100%;
    padding: 20px,50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
   font-size: 24px; 
   font-weight:bold;
    color:black;
}
.nav-links {
    text-decoration: none;
    color: #333;
    display: flex;
    gap: 30px;
}
.links{
    padding: 0, 30px;
    list-style: none;
}
.links a{
    text-decoration: none;
    font-size: 12px;
    font-weight: 12px;
    display: flex;
    flex-direction: column;

}